{% extends "base.html" %}

{% block content %}

<h1>{{title}}</h1>
<form action="" method="post" novalidate>
    {{form.hidden_tag()}}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.teamlead.label }}<br>
        {{ form.teamlead(class="form-control") }}<br>
        {% for error in form.teamlead.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.work_size.label }}<br>
        {{ form.work_size(class="form-control") }}<br>
        {% for error in form.work_size.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.collaborators.label }}<br>
        {{ form.collaborators(class="form-control") }}<br>
        {% for error in form.collaborators.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.st_date.label }}<br>
        {{ form.st_date(class="form-control", type="datetime-local") }}<br>
        {% for error in form.st_date.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.end_date.label }}<br>
        {{ form.end_date(class="form-control", type="datetime-local") }}<br>
        {% for error in form.end_date.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.category.label }}<br>
        {{ form.category(class="form-control") }}<br>
        {% for error in form.category.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.is_finished() }} {{ form.is_finished.label }}</p>
    <p>{{ form.add(type="submit", class="btn btn-primary") }}</p>
</form>

{% endblock %}