{% extends "base.html" %}

{% block content %}
<p>
<a class="h1">Журнал работ</a>
{% if current_user.is_authenticated %}
    <a class="btn btn-light" href="/addjob">+</a>
{% endif %}
</p>

{% for work in works %}
    <p>
        <a class="h2">Запись #{{loop.index}}</a>
        {% if current_user.is_authenticated %}
            <a class="btn btn-light" href="/editjob/{{loop.index}}">Редактировать</a>
            <a class="btn btn-light" href="/deljob/{{loop.index}}">Удалить</a>
        {% endif %}
    </p>

    <table class="table">
    <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Тимлид</th>
        <th scope="col">Время работы</th>
        <th scope="col">ID рабочих</th>
        <th scope="col">Завершена ли</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <th scope="row">{{work.job}}</th>
          <td>{{work.teamlead.surname}} {{work.teamlead.name}}</td>
          <td>{{work.work_size}} hours</td>
          <td>{{work.collaborators}}</td>
          {% if work.is_finished %}
            <td>Да</td>
          {% else %}
            <td>Нет</td>
          {% endif %}
      </tr>
    </tbody>
  </table>
{% endfor %}

{% endblock %}